@model asm_1_Web_DoAn.Models.Combo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Combo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComboName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComboName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComboPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComboPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrlcombo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrlcombo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComboDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComboDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ComboId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
