@model asm_1_Web_DoAn.Models.ComboFoodItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComboFoodItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combo.ComboId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodItem.FoodItemId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
